.about {
  padding-top: 0;
  &__title {
    margin-bottom: var(--secondary-typical-margin);
  }

  &__list {
    display: flex;
    margin-left: calc(-1 * var(--typical-margin));
  }
  &__item {
    position: relative;

    flex-basis: calc(100% / 3 - var(--typical-margin));

    margin-left: var(--typical-margin);
  }
  &__text {
    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 70px;
    padding: 27px 0;

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-text-color);

    background: rgba(47, 48, 58, 0.8);
  }
}
