.filter-list {
  margin-top: -15px;
  margin-right: -8px;
  margin-bottom: 40px;

  display: flex;
  flex-wrap: wrap;

  @include media(768px) {
    justify-content: center;

    margin-bottom: 30px;
  }

  @include media(1200px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-top: 15px;
    margin-right: 8px;
  }

  &__btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: var(--secondary-font-size);
    line-height: 1.63;
    text-align: center;
    letter-spacing: var(--main-text-letter-spacing);
    color: var(--main-title-color);

    background-color: var(--accent-background-color);

    border: 1px solid transparent;
    border-radius: 4px;

    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--secondary-title-color);
      background-color: var(--accent-link-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &--current {
    color: var(--secondary-title-color);
    background-color: var(--accent-link-color);
  }
}
