.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);

  &__container {
    text-align: center;

    @include media(768px) {
      display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-direction: column;
    }

    @include media(1200px) {
      text-align: start;

      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__wrap {
    @include media(768px) {
      display: flex;
      align-items: baseline;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-around;

      margin-bottom: 60px;
    }
  }

  &__address {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @include media(1200px) {
      margin-right: 70px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__social {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  &__title {
    font-size: var(--navigation-font-size);
    line-height: var(--navigation-line-height);
    text-transform: uppercase;

    color: var(--secondary-title-color);

    margin-bottom: 20px;
  }

  &__form {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
      margin: 0 auto;
    }
  }
}
