.header {
  min-height: 60px;
  border-bottom: 1px solid #ececec;

  @include media(768px) {
    min-height: 80px;
  }

  &__container,
  &__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__logo {
    @media screen and (max-width: 767px) {
      padding: 16px 0;
    }

    @include media(768px) {
      margin-right: 88px;
    }

    @include media(1200px) {
      margin-right: 93px;
    }
  }

  &__open-btn {
    background-color: var(--primary-background-color);
    border: none;

    @include media(768px) {
      display: none;
    }
  }

  &__icon {
    fill: #000000;
    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
      fill: var(--accent-link-color);
    }
  }

  &__link {
    display: flex;
    align-items: center;

    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: var(--navigation-font-weight);
    font-size: var(--navigation-font-size);
    line-height: var(--navigation-line-height);
    letter-spacing: var(--navigation-letter-spacing);
    color: var(--main-title-color);

    transition: color 250ms var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-link-color);
    }

    &--main-color {
      color: var(--main-text-color);
    }
  }
}

.menu-list {
  display: none;

  @include media(768px) {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: var(--secondary-typical-margin);
  }

  &--current {
    color: var(--accent-link-color);
  }

  &--current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    height: 4px;
    width: 100%;

    background-color: var(--accent-link-color);
    border-radius: 2px;
  }
}

.connect-list {
  display: none;

  @include media(768px) {
    display: block;
    margin-left: auto;
  }

  @include media(1200px) {
    display: flex;
  }

  .header__link {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding: 0;

      font-size: 12px;
      line-height: 1.17;
    }
  }

  &__item:first-child {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @include media(1200px) {
      margin-right: var(--secondary-typical-margin);
    }
  }

  &__icon {
    margin-right: 8px;
    fill: currentColor;

    @include media(1200px) {
      margin-right: 10px;
    }
  }
}
