.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) skew(0);
  transition: transform 250ms var(--timing-function);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__close-icon {
    fill: #000000;

    transition: fill 250ms var(--timing-function);

    .modal__close-btn:hover &,
    .modal__close-btn:focus & {
      fill: var(--accent-link-color);
    }
  }
  &__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--main-title-color);
  }

  &__field {
    display: flex;
    flex-direction: column;

    width: 448px;
    margin-bottom: 10px;

    &:nth-child(4) {
      margin-bottom: 20px;
    }
  }

  &__label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__wrap {
    position: relative;
  }

  &__input {
    width: 100%;
    min-height: 40px;
    padding-left: 32px;

    color: var(--main-text-color);
    line-height: var(--main-text-line-height);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;
    outline: none;

    transition: border-color 250ms var(--timing-function);

    &:focus,
    &:hover {
      border-color: var(--accent-link-color);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: #212121;
    transition: fill 250ms var(--timing-function);

    .modal__input:focus + &,
    .modal__input:hover + & {
      fill: var(--accent-link-color);
    }
  }

  &__text {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    color: var(--main-text-color);
    line-height: var(--main-text-line-height);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;
    outline: none;
    resize: none;

    transition: border-color 250ms var(--timing-function);

    &:focus,
    &:hover {
      border-color: var(--accent-link-color);
    }

    &::placeholder {
      font-size: var(--navigation-font-size);
      line-height: var(--navigation-line-height);
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__checkbox {
    width: 448px;
    margin-bottom: 30px;
  }

  .backdrop.is-hidden & {
    transform: translate(0, 0) scale(0.5) skew(30deg);
  }
}
